{% extends "base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
{% endblock extra_css %}
{% block meta_title %} TaskKiller {% endblock meta_title %}

{% block content %}

    <div class="page-header">
        <h2 class="form_header">Додати роботу</h2>
    </div>
    {% crispy form %}

{% endblock content %}

{% block extra_javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
{% endblock extra_javascript %}